* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #e9e7e8f8;
}

.container {
  width: min(900px, 90%);
  margin: 40px auto;
}

header {
  margin-bottom: 30px;
}

header h1 {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

input,
textarea {
  padding: 12px;
  border: 1px solid #2ea7c5;
  border-radius: 6px;
  font-size: 16px;
}

textarea {
  min-height: 100px;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}

form button {
  background: #2db61b;
  color: white;
}

.task {
  background: rgb(206, 210, 214);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.completed h3 {
  text-decoration: line-through;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.error {
  background: #f30b0b;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
}